<!--Update Modal-->
<div class="modal" id="updateModal">
    <form th:action="@{/admin}" th:object="${user}" th:method="POST">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Update user</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input id="method" type="hidden" name="_method" value="post">

                    <div class="form-group">
                        <label for="updateID">ID</label>
                        <input type="text" class="form-control" id="updateID" placeholder="ID" th:field="*{id}" readonly>
                    </div>
                    <div class="form-group">
                        <label for="updateName">Name</label>
                        <input type="text" class="form-control" id="updateName" placeholder="Name" th:field="*{name}">
                    </div>
                    <div class="form-group">
                        <label for="updateSurname">Surname</label>
                        <input type="text" class="form-control" id="updateSurname" placeholder="Surname" th:field="*{surname}">
                    </div>
                    <div class="form-group">
                        <label for="updateAge">Age</label>
                        <input type="text" class="form-control" id="updateAge" placeholder="Age" th:field="*{age}">
                    </div>
                    <div class="form-group">
                        <label for="updateEmail">Email</label>
                        <input type="text" class="form-control" id="updateEmail" placeholder="Email" th:field="*{email}">
                    </div>
                    <div class="form-group">
                        <label for="updatePassword">Password</label>
                        <input type="text" class="form-control" id="updatePassword" placeholder="Password" th:field="*{password}">
                    </div>
                    <div class="form-group">
                        <label for="updateRoles">Roles</label>
                        <input type="text" class="form-control" id="updateRoles" placeholder="Roles" th:field="*{roles}">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </form>
</div>