<form id="addUserForm">
    <div class="form-group mb-3">
        <label for="addName">Name</label>
        <input id="addName" type="text" class="form-control"/>
    </div>
    <div class="form-group mb-3">
        <label for="addSurname">Surname</label>
        <input id="addSurname" type="text" class="form-control"/>
    </div>
    <div class="form-group mb-3">
        <label for="addAge">Age</label>
        <input id="addAge" type="text" class="form-control"/>
    </div>
    <div class="form-group mb-3">
        <label for="addEmail">Email</label>
        <input id="addEmail" type="text" class="form-control"/>
    </div>
    <div class="form-group mb-3">
        <label for="addPassword">Password</label>
        <input id="addPassword" type="text" class="form-control"/>
    </div>
    <div class="form-group mb-3">
        <label for="addRoles">Roles</label>
        <select id="addRoles" multiple="multiple" class="form-control">
            <option value="ROLE_ADMIN">ROLE_ADMIN</option>
            <option value="ROLE_USER">ROLE_USER</option>
        </select>
    </div>

    <div class="box-footer">
        <input type="submit" class="btn btn-success" value="Add"/>
    </div>
</form>