<div>
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Update user</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form id="updateForm" role="form">
            <div class="modal-body" id="updateAttr">
<!--                <div class="form-group">-->
<!--                    <label for="updateId">ID</label>-->
<!--                    <input type="number" class="form-control" id="updateId" readonly>-->
<!--                </div>-->
<!--                <div class="form-group">-->
<!--                    <label for="updateName">Name</label>-->
<!--                    <input type="text" class="form-control" id="updateName">-->
<!--                </div>-->
<!--                <div class="form-group">-->
<!--                    <label for="updateSurname">Surname</label>-->
<!--                    <input type="text" class="form-control" id="updateSurname">-->
<!--                </div>-->
<!--                <div class="form-group">-->
<!--                    <label for="updateAge">Age</label>-->
<!--                    <input type="number" class="form-control" id="updateAge">-->
<!--                </div>-->
<!--                <div class="form-group">-->
<!--                    <label for="updateEmail">Email</label>-->
<!--                    <input type="text" class="form-control" id="updateEmail">-->
<!--                </div>-->
<!--                <div class="form-group">-->
<!--                    <label for="updatePassword">Password</label>-->
<!--                    <input type="text" class="form-control" id="updatePassword">-->
<!--                </div>-->
<!--                <div class="form-group">-->
<!--                    <label for="updateRoles">Roles</label>-->
<!--                        <select id="updateRoles" multiple="multiple" class="form-control">-->
<!--                            <option value="ROLE_ADMIN">ROLE_ADMIN</option>-->
<!--                            <option value="ROLE_ADMIN">ROLE_USER</option>-->
<!--                        </select>-->
<!--                </div>-->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" id="update" onclick="">Save</button>
            </div>
        </form>
    </div>
</div>