<div>
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Delete user</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form id="deleteForm" class="updateOrDeleteForm" role="form">
            <div class="modal-body">
                <input type="hidden" name="_method" value="put">
                <div class="form-group">
                    <label for="deleteId">ID</label>
                    <input type="text" class="form-control" id="deleteId" readonly>
                </div>
                <div class="form-group">
                    <label for="deleteName">Name</label>
                    <input type="text" class="form-control" id="deleteName" readonly>
                </div>
                <div class="form-group">
                    <label for="deleteSurname">Surname</label>
                    <input type="text" class="form-control" id="deleteSurname" readonly>
                </div>
                <div class="form-group">
                    <label for="deleteAge">Age</label>
                    <input type="text" class="form-control" id="deleteAge" readonly>
                </div>
                <div class="form-group">
                    <label for="deleteEmail">Email</label>
                    <input type="text" class="form-control" id="deleteEmail" readonly>
                </div>
                <div class="form-group">
                    <label for="deletePassword">Password</label>
                    <input type="text" class="form-control" id="deletePassword" readonly>
                </div>
                <div class="form-group">
                    <label for="deleteRoles">Roles</label>
                    <select multiple class="form-control" id="deleteRoles" readonly>
                        <!--                        <option th:each="role : ${allRoles}"-->
                        <!--                                th:selected="*{hasRole('__${role.id}__')}" th:text="${role.name}"-->
                        <!--                                th:value="${role.id}">-->
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-danger">Delete</button>
            </div>
        </form>
    </div>
</div>