<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
          crossorigin="anonymous">
    <title>Admin panel</title>
</head>
<body>

    <!-- Navigation panel -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
                <span class="navbar-text">
                    <span th:text="${#authentication.getPrincipal().getUsername()}"></span>
                    <span> with roles: </span>
                    <span sec:authentication="principal.authorities"></span>
                </span>
            <span class="navbar-nav">
                    <a class="nav-link" href="/logout">Logout</a>
                </span>
        </div>
    </nav>

    <!-- Overall container -->
    <div class="container-fluid vw-100 vh-100">
        <div class="row h-100">
            <!-- Left col: Nav -->
            <div class="col pt-2">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Admin</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">User</a>
                    </li>
                </ul>
            </div>
            <!-- Right col: Main -->
            <div class="col-10 bg-light pt-2">
                <div class="container-fluid">
                    <input type="button" value="My Personal Info" onclick="window.location.href='/user'"/>
                    <br />

                    <h2>Admin panel</h2>

                    <!-- Tabs -->
                    <ul class="nav nav-tabs">
                        <li class="nav-item"><a class="nav-link active" href="#usersTable" data-bs-toggle="tab">Users Table</a></li>
                        <li class="nav-item"><a class="nav-link" href="#addNewUser" data-bs-toggle="tab">New User</a>
                        </li>
                    </ul>

                    <!-- Tabs content -->
                    <div class="tab-content">
                        <!-- User Table Tab-->
                        <div class="tab-pane active" id="usersTable">
                            <div class="card" >
                                <div class="card-header">
                                    All users
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        <table class="table table-hover mt-1">
                                            <thead class="table-light">
                                            <tr>
                                                <th class="text-center">ID</th>
                                                <th class="text-center">Name</th>
                                                <th class="text-center">Surname</th>
                                                <th class="text-center">Age</th>
                                                <th class="text-center">Email</th>
                                                <th class="text-center">Roles</th>
                                                <th class="text-center">Operations</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="user : ${allUsers}">
                                                <td class="text-center" th:text="${user.id}"></td>
                                                <td class="text-center" th:text="${user.name}"></td>
                                                <td class="text-center" th:text="${user.surname}"></td>
                                                <td class="text-center" th:text="${user.age}"></td>
                                                <td class="text-center" th:text="${user.email}"></td>
                                                <td class="text-center"><span th:each="role : ${user.roles}"
                                                                              th:text="${role.name}+' '"></span>
                                                </td>
                                                <td class="text-center">
                                                    <a th:href="@{/admin/updateUser/{id}(id=${user.id})}">
                                                        <button type="button" class="btn btn-primary btn-sm mr-1">
                                                            Update
                                                        </button>
                                                    </a>
                                                    <a th:href="@{/admin/deleteUser/{id}(id=${user.id})}">
                                                        <button type="button" class="btn btn-danger btn-sm">
                                                            Delete
                                                        </button>
                                                    </a>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- Add User Tab-->
                        <div class="tab-pane active" id="addNewUser">
                            <div class="card" >
                                <div class="card-header">
                                    Add new user
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        <table class="table table-hover mt-1">
                                            <thead class="table-light">
                                            <tr>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <br/>
                <input type="button" value="Add" onclick="window.location.href='/admin/addNewUser'"/>
            </div>
        </div>
    </div>


    <!--Modal-->
    <div class="myForm">
        <form th:action="@{saveUser}" method="POST">
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Update User</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="id" class="col-form-label">ID:</label>
                                <input type="text" class="form-control" id="id" name="id" value="" />
                            </div>
                            <div class="form-group">
                                <label for="name" class="col-form-label">Name:</label>
                                <input type="text" class="form-control" id="name" name="name" value="" />
                            </div>
                            <div class="form-group">
                                <label for="surname" class="col-form-label">Surname:</label>
                                <input type="text" class="form-control" id="surname" name="surname" value="" />
                            </div>
                            <div class="form-group">
                                <label for="age" class="col-form-label">Age:</label>
                                <input type="text" class="form-control" id="age" name="age" value="" />
                            </div>
                            <div class="form-group">
                                <label for="email" class="col-form-label">Email:</label>
                                <input type="text" class="form-control" id="email" name="email" value="" />
                            </div>
                            <div class="form-group">
                                <label for="roles" class="col-form-label">Roles:</label>
                                <input type="text" class="form-control" id="roles" name="roles" value="" />
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" ></button>
                            <input type="submit" class="btn btn-primary" value="Update" />
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
            crossorigin="anonymous"></script>

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</body>
</html>