<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
</head>
<body>

    <h2>Hello, <span th:text="${#authentication.getPrincipal().getUsername()}"></span></h2>

    <h3>Personal Info</h3>
        <table>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Age</th>
                <th>Email</th>
                <th>Roles</th>
            </tr>

            <tr>
                <td sec:authentication="principal.id"></td>
                <td sec:authentication="principal.name"></td>
                <td sec:authentication="principal.surname"></td>
                <td sec:authentication="principal.age"></td>
                <td sec:authentication="principal.email"></td>
                <td sec:authentication="principal.authorities"></td>
            </tr>
        </table>
    </br>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Logout"/>
    </form>

</body>
</html>